course {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family: ubuntu;
    background-color: rgb(243, 242, 157);
    color: black;
}

course .courses_links {
    display: flex;
    justify-content: space-around;
    width: 34%;
}


/* responsive */

@media all and (max-width: 767px) {

    course .courses_links{
        z-index: 100;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: #e95364;
        padding: 40px;
        width: 50%;
            transform: translateX(-500px);
        transition: 0.5s ease-in-out;
    }

    course .courses_links li {
        padding: 25px;
        border-bottom: 1px solid #ccc;
    }

    course .courses_links li:last-of-type {
        border-bottom: 0px;
    }

    course .courses_links a:hover {
        border-bottom: 0px solid rgb(31, 29, 29);
    }

}